@import "./body";
@import "./formulario";
@import "./mediaqueries";
@media only screen and (min-width: 600px){
    body{
       background-color:grey;
    }
    h1{
       color:white;
       font-size: 3rem;
    }
    .formularioMio{
        background-color:white;
     width: 600px;
     height: 400px;
     }
    .menu{
       background-color: black;
       padding: 5px;
       list-style: none;
       margin: 20px auto;
       text-align: center;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
    }
}